// --------------------------------------------
//font
// --------------------------------------------
$fontLogo: "Myriad Pro", sans-serif;
$fontMain: "Montserrat", sans-serif;
// --------------------------------------------
//color
// --------------------------------------------
$main: rgb(241, 102, 34);
$green: #006837;
$black: rgb(26, 26, 26);
$white: rgb(255, 255, 255);
$violent: #662d8f;
$gold: #e2e115;
// --------------------------------------------
//adaptive
// --------------------------------------------
$desktop: 1200px;
$notebook: 991px;
$phablet: 767px;
$phone: 575px;
