//------------------------------
//          @import libs
//------------------------------
@import "libs/normalize";
@import "libs/font";
@import "base/variables";
@import "base/mixins";
@import "base/animations";
//------------------------------
//          general
//------------------------------
html {
  scroll-behavior: smooth;
}
body {
  font-family: $fontMain;
  font-size: 20px;
  font-weight: 400;
}
.container {
  padding-left: 93px;
  padding-right: 65px;
}
//------------------------------
//          title
//------------------------------
.title {
  font-size: 46px;
  font-weight: 300;
  line-height: 42px;
  letter-spacing: -0.2px;
  text-align: center;
  span {
    display: block;
    padding-bottom: 0px;
    text-transform: uppercase;
  }
  &-section {
    font-size: 31px;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: $main;
    &_sponsored {
      // font-size: 32px;
      // letter-spacing: -1px;
      margin-left: 5px;
      text-align: center;
    }
    &_shedule {
      width: 100%;
      color: #fff;
    }
    &_event {
      width: 100%;
      margin-left: 5px;
    }
  }
}
//------------------------------
//          button line
//------------------------------
.button {
  display: block;
  width: 561px;
  height: 107px;
  padding-bottom: 6px;
  border: none;
  border-radius: 107px;
  font-size: 31px;
  letter-spacing: -0.4px;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
  background-color: $main;
  cursor: pointer;
  &_sponsored {
    @include centerX(auto, 98px);
  }
  &_event {
    margin-left: calc(50% - 296px);
  }
  &_footer {
    margin-left: 5px;
    padding-bottom: 6px;
  }

  &:hover {
    color: $violent;
    background: radial-gradient($gold, $main);
  }
}
.line {
  width: 100%;
  height: 4px;
  &_shedule {
    background-color: $white;
  }
  &_event {
    margin: 97px auto 95px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
//------------------------------
//          @import blocks
//------------------------------
@import "blocks/header";
@import "blocks/promo";
@import "blocks/schedule";
@import "blocks/events";
@import "blocks/footer";
@import "blocks/media";
