.footer {
  min-height: 445px;
  background-color: $black;
  &__wrap {
    height: 415px;
    padding: 45px 0 50px;
    @include flex();
  }
  &__line {
    height: 30px;
    background-color: $main;
  }
}
.conference,
.contacts {
  width: calc(50% - 60px);
}
.contacts {
  @include flex(space-between, flex-start);
  flex-direction: column;
  height: 100%;
  color: $white;
}
.message {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.contact {
  &__link {
    color: $white;
    text-decoration: none;
    display: block;
    line-height: 26px;
    &:hover {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
