.header {
  position: relative;
  @include flex();
  background-color: $black;
  height: 110px;
}
.caption {
  width: 241px;
  height: 100%;
  padding: 18px 35px;
  font-family: $fontLogo;
  color: $white;
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;
  background-color: $main;
  cursor: pointer;
  span {
    display: block;
    text-align: right;
  }
}
.nav {
  @include flex();
  width: 462px;
  margin-right: 70px;
  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    cursor: pointer;
    &.active,
    &:hover {
      font-weight: 600;
    }
  }
}
.hamburger {
  display: none;
}
