//----------------------------------
// 1200
//----------------------------------
@media (max-width: 1200px) {
  //----------------------------------
  // events
  //----------------------------------
  .tabcontents,
  .tabs {
    width: calc(50% - 40px);
  }
  .tab {
    width: calc(100% / 2 - 15px);
  }
  .avatar {
    &_detail {
      width: 100px;
    }
  }
  //----------------------------------
  // footer
  //----------------------------------
  .footer {
    min-height: 410px;
    &__wrap {
      height: 380px;
    }
    .button {
      width: 90%;
      font-size: 18px;
    }
  }
}

//----------------------------------
// 991
//----------------------------------
@media (max-width: 991px) {
  //----------------------------------
  // header
  //----------------------------------
  .caption {
    width: 183px;
    padding: 23px 33px;
    font-size: 34px;
    line-height: 34px;
  }
  .nav {
    width: 410px;
    margin-right: 50px;
    &__link {
      font-size: 18px;
    }
  }
  //----------------------------------
  // promo
  //----------------------------------
  .promo {
    min-height: 770px;
    .button {
      margin: 55px auto 0;
    }
  }
  .roundtable {
    height: 40vh;
    &__title {
      width: 450px;
      height: 168px;
    }
  }
  .title {
    font-size: 28px;
    line-height: 56px;
    &-section {
      font-size: 24px;
    }
  }
  .sponsored {
    width: 500px;
    &__logo {
      width: 160px;
      height: 60px;
    }
    &__desc {
      width: 302px;
      font-size: 14px;
    }
  }
  .button {
    width: 400px;
    height: 75px;
    font-size: 22px;
  }
  //----------------------------------
  // schedule
  //----------------------------------
  .schedule {
    padding: 70px 0 55px;
    .line {
      margin: 80px auto 75px;
    }
    .title-section {
      margin-bottom: 30px;
    }
  }
  .overview {
    &__desc {
      width: calc(50% - 40px);
    }
    p {
      font-size: 16px;
    }
    p:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .agenda {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    &__time {
      font-size: 32px;
    }
    &__desc {
      font-size: 18px;
    }
    &__desc:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  //----------------------------------
  // events
  //----------------------------------
  .events {
    .line {
      margin: 68px auto;
    }
  }
  .tabcontents,
  .tabs,
  .tabcontents-other,
  .tabs-other {
    width: calc(50% - 30px);
  }
  .tabcontent {
    &__speaker {
      flex-direction: column;
      padding: 35px 18px;
      width: 100%;
    }
    &__desc {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .speaker {
    width: 100%;
    margin-bottom: 20px;
    &__name {
      text-align: center;
      font-size: 12px;
      span {
        font-size: 14px;
      }
    }
    &__desc {
      width: 100%;
      text-align: justify;
    }
  }
  .avatar {
    &_detail {
      width: 100%;
    }
  }
  .tab-other {
    width: calc(100% / 2 - 24px);
    margin-bottom: 35px;
  }
  .other {
    &__logo {
      margin-bottom: 25px;
    }
    &__desc {
      margin-top: 10px;
    }
  }
  //----------------------------------
  // footer
  //----------------------------------
  .footer {
    min-height: 360px;
    &__wrap {
      height: 340px;
    }
    &__line {
      height: 20px;
    }
    .button {
      height: 65px;
      font-size: 14px;
    }
  }
  .message {
    font-size: 22px;
  }
  .contact {
    font-size: 18px;
  }
}

// ----------------------------------
// 767
//----------------------------------
@media (max-width: 767px) {
  //----------------------------------
  // header
  //----------------------------------
  .header {
    height: 90px;
  }
  .caption {
    width: 162px;
    padding: 18px 23px;
    line-height: 29px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 18px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 4px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .nav {
    position: fixed;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
    z-index: 1;
    &_active {
      left: 0;
    }
    &__link {
      font-size: 16px;
    }
  }
  .roundtable {
    height: 30vh;
    &__title {
      width: 300px;
      height: 135px;
    }
  }
  .title {
    font-size: 18px;
    line-height: 46px;
    &-section {
      font-size: 18px;
    }
  }
  //----------------------------------
  // promo
  //----------------------------------
  .sponsored {
    width: 400px;
    &__logo {
      width: 122px;
      height: 55px;
      a {
        font-size: 22px;
      }
    }
    &__desc {
      width: 240px;
      font-size: 12px;
    }
  }
  .promo {
    min-height: 540px;
    .title-section {
      margin-top: 40px;
    }
    .button {
      margin: 45px auto 0;
    }
  }
  .button {
    width: 300px;
    height: 55px;
    font-size: 18px;
  }
  //----------------------------------
  // schedule
  //----------------------------------
  .schedule .agenda,
  .schedule .overview,
  .schedule .title-section {
    padding: 0 30px;
  }
  .schedule {
    padding: 60px 0 45px;
    min-height: 1117px;
    .line {
      margin: 65px auto 55px;
    }
  }
  .overview {
    &__desc {
      width: calc(50% - 30px);
    }
    p {
      font-size: 14px;
    }
    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .agenda {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &__time {
      font-size: 28px;
    }
    &__desc {
      font-size: 16px;
    }
    &__desc:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  //----------------------------------
  // events
  //----------------------------------
  .events {
    padding: 40px 0 35px;
    .line {
      margin: 55px auto;
    }
    .button {
      margin: 60px auto 0;
    }
  }
  .info {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .tabcontents,
  .tabs,
  .tabcontents-other,
  .tabs-other {
    width: 100%;
  }
  .tabcontent {
    &__desc {
      font-size: 14px;
    }
    &__speaker {
      font-size: 12px;
    }
  }
  .tab {
    width: calc(100% / 3 - 15px);
    &-other {
      width: calc(100% / 3 - 24px);
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .speaker {
    @include flex();
    &__name {
      width: calc(50% - 20px);
    }
  }
  .avatar {
    &_detail {
      width: calc(50% - 20px);
      height: 140px;
    }
  }
  .other {
    &__logo {
      margin: 0 auto 20px;
    }
    &__desc {
      margin-top: 5px;
    }
  }
  //----------------------------------
  // footer
  //----------------------------------
  .footer {
    min-height: 270px;
    &__wrap {
      height: 255px;
      padding: 30px 0 40px;
    }
    &__line {
      height: 15px;
    }
  }
  .message {
    font-size: 18px;
  }
  .contact {
    font-size: 12px;
  }
}

//----------------------------------
// 575
//----------------------------------
@media (max-width: 575px) {
  //----------------------------------
  // header
  //----------------------------------
  .nav {
    width: 75%;
  }
  .caption {
    padding: 18px 30px;
    font-size: 30px;
  }
  .hamburger {
    right: 30px;
    width: 26px;
    height: 16px;
  }
  //----------------------------------
  // promo
  //----------------------------------
  .promo {
    .title-section {
      margin-top: 30px;
    }
    .button {
      margin: 35px auto 0;
    }
  }
  .roundtable {
    &__title {
      width: 200px;
      height: 118px;
    }
  }
  .title {
    line-height: 28px;
    &-section {
      font-size: 16px;
    }
  }
  .sponsored {
    flex-direction: column;
    width: 300px;
    &__logo {
      height: 45px;
      a {
        font-size: 16px;
      }
    }
    &__desc {
      text-align: center;
      margin-top: 10px;
    }
  }
  .button {
    width: 230px;
    height: 50px;
    font-size: 14px;
  }
  //----------------------------------
  // schedule
  //----------------------------------
  .schedule .agenda,
  .schedule .overview,
  .schedule .title-section {
    padding: 0 15px;
  }
  .schedule {
    padding: 45px 0 35px;
    min-height: 1043px;
    .title-section {
      margin-bottom: 20px;
      text-align: center;
    }
    .line {
      margin: 45px auto 40px;
    }
  }
  .overview {
    flex-wrap: wrap;
    &__desc {
      width: calc(100%);
      text-align: justify;
    }
    &__desc:not(:last-child) {
      margin-bottom: 15px;
    }
    p {
      font-size: 12px;
    }
    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .agenda {
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &__time {
      font-size: 24px;
    }
    &__desc {
      font-size: 14px;
    }
    &__desc:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  //----------------------------------
  // events
  //----------------------------------
  .events {
    .line {
      margin: 40px auto;
    }
    .title-section {
      text-align: center;
    }
    .button {
      margin: 40px auto 0;
    }
  }

  .tab {
  }
  .tab,
  .tab-other {
    width: calc(100% / 2 - 10px);
    font-size: 12px;
    line-height: 16px;
  }

  .speaker {
    &__name {
      width: 50%;
      span {
        font-size: 12px;
      }
    }
  }
  .avatar {
    height: 90px;
    margin-bottom: 14px;
  }
  //----------------------------------
  // footer
  //----------------------------------
  .footer {
    &__wrap {
      flex-direction: column;
      padding: 20px 0;
    }
    .button {
      margin: 0 auto 15px;
      width: 60%;
      height: 50px;
      font-size: 12px;
    }
  }
  .conference {
    width: 100%;
  }
  .contacts {
    width: 80%;
  }
  .contact,
  .message {
    width: 100%;
    text-align: center;
  }
}
