//------------------------------
//          schedule
//------------------------------
.schedule {
  padding: 91px 0 76px 0;
  color: #fff;
  background-color: #f16622;
}
//------------------------------
//          common
//------------------------------
.overview,
.agenda {
  padding-right: 50px;
  padding-left: 49px;
}
//------------------------------
//          overview
//------------------------------
.overview {
  @include flex(space-between, flex-start);
  flex-wrap: wrap;
  &__desc {
    width: 50%;
    margin-top: 43px;
    margin-bottom: 113px;
    padding-right: 70px;
    font-size: 25.5px;
    line-height: 33px;
    letter-spacing: -0.1px;
    &:last-child {
      padding-right: 20px;
      padding-left: 49px;
    }
    p:not(:last-child) {
      margin-bottom: 26px;
    }
  }
}
//------------------------------
//          agenda
//------------------------------
.agenda {
  margin-top: 101px;
  margin-left: -1px;
  &__row {
    @include flex(flex-start, flex-start);
    margin-top: 53px;
    &:nth-child(4) {
      margin-top: 64px;
    }
    &:nth-child(5),
    &:nth-child(6) {
      margin-top: 78px;
    }
  }
  &__time {
    width: 120px;
    margin-right: 11px;
    font-size: 46px;
    line-height: 32px;
  }
  &__desc {
    width: calc(100% - 131px);
    padding-top: 2px;
    font-size: 25px;
    letter-spacing: 0.15px;
    p:not(:last-child) {
      margin-bottom: 33px;
    }
    span {
      font-weight: 600;
    }
  }
}
